@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif !important;
    font-size: 14px;
}


.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    padding: 14px;
    border: none;
    text-decoration: none;
    background: #efefef;
    color: #000000;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.btn-red {
    background: #FB0605;
    color: #ffff;
    font-weight: 600;
    border: 2px #FB0605 solid;
    padding: 12px 24px;
}

.btn-red:hover {
    background: transparent;
    color: #FB0605;
}

.btn-black {
    background: #333333;
    color: #ffff;
    font-weight: 600;
    border: 2px #333333 solid;
    padding: 12px 24px;
}

.btn-black:hover {
    background: transparent;
    color: #333333;
}

.btn-sidebar {
    color: #FB0605;
    background: #ffc0c0;
    padding: 18px;
    display: none;
}

.btn-close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 200px;
    background: transparent;
    font-size: 30px;
}


/*======Hero Section==========*/

.hero-section {
    height: 550px;
    background: url('/img/image 2 (1).png');
    /* overflow: hidden; */
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-section-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #FB0605;
    opacity: 0.2;
    /* display: none; */
}

video#bgVideo {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    clip-path: inset(0 0 0 0);
}

.hero-section .hero-information {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    width: 70%;
    z-index: 1;
}

.hero-section .hero-information .hero-subheading {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.hero-section .hero-information .hero-mainheading {
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    line-height: 1.6;
}

.hero-section .hero-information .hero-para {
    color: #fff;
    text-align: center;
}

.hero-stats-section {
    position: absolute;
    display: flex;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    bottom: -60px;
    box-shadow: 0px 0px 20px 5px #efefef;
}

.hero-stats-section .single-hero-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: auto;
}

.hero-stats-section .single-hero-stats img {
    width: 60px;
    height: 60px;
    margin: 0 auto;

}

.single-hero-stats h4 {
    font-weight: 400;
    font-size: 11px;
    text-align: center;
}

/*========End Hero Section=========*/

.feature-section-1 {
    padding-top: 96px;
    padding-bottom: 96px;
}

.feature-card-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.feature-card-1 h4 {
    font-size: 18px;
}

.feature-card-1 p {
    color: #333333;
}


.feature-section-2 {
    background: #F9F9FF;
    padding-top: 96px;
    padding-bottom: 96px;
}

.feature-section-2 .feature-card-2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feature-section-2 .feature-card-2 img {
    width: 100%;
}

.feature-section-2 .feature-card-2 a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    transition: 0.3s ease;
    font-weight: 500;
}

.feature-section-2 .feature-card-2 a:hover {
    color: #FB0605;
}

.feature-section-2 .feature-card-2 p {
    color: #333333;
}

.feature-section-3 {
    position: relative;
    padding-top: 96px;
    padding-bottom: 96px;
    background-image: url("/img/stats section.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.feature-section-3 .backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #FB0605;
    opacity: 0.2;
    z-index: -1;
}

.feature-section-3 .feature-card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}

.feature-card-3 h4 {
    color: #fff;
    font-size: 18px;
}

.counter-section {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    border-radius: 200px;
    border: 1px #FB0605 solid;
}

.counter-section .inner-counter {
    width: 70%;
    height: 70%;
    border-radius: inherit;
    background: #FB0605;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

.counter-section .innner-counter h1 {
    font-size: 16px;
}

.feature-section-4 {
    background: #F9F9FF;
    padding-top: 96px;
    padding-bottom: 96px;
}

.feature-card-4-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    gap: 15px;
    margin-top: 24px;
}

.feature-card-4 h4 {
    font-weight: normal;
    color: #333333;
}

.feature-card-4 p {
    color: #aaaaaa;
    font-size: 15px;
}


.feature-card-links-section {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.form-section-1 {
    background-image: url('/img/stats section.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 44px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.feature-card-service-section .heading-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feature-card-service-section .heading-section .icon {
    font-size: 40px;
}

.feature-card-service-section {
    border: 1px #333333 solid;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature-section-5 {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
}

.feature-card-5 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 50px;
}

.feature-card-5 h1 {
    font-size: 50px;
}

.feature-card-5 h4 {
    font-weight: normal;
}

.feature-card-5.black-scheme-1 {
    background: #333;
}

.feature-card-5.black-scheme-2 {
    background: #4e4e4e;
}

.feature-card-5.black-scheme-3 {
    background: #797979;
}

.feature-card-5.black-scheme-4 {
    background: #a5a5a5;
}

.feature-card-5.black-scheme-5 {
    background: #cdcdcd;
}

.business-categories-card {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 22px 0px #efefef;
}

.business-categories-card img {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.business-categories-card .business-categories-details {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.business-categories-card .business-categories-details h4 {
    line-height: 1.5;
    max-height: 1.6em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.business-categories-card .business-categories-details a {
    text-decoration: none;
    color: rgb(80, 187, 230);
    font-weight: bold;
    transition: 0.3s ease;
}

.business-categories-card .business-categories-details a:hover {
    color: #FB0605;
}

.form-section-1 h4 {
    color: #fff;
    font-size: 18px;
}

.contact-form-1 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact-form-1 .input-field {
    padding: 10px;
    background: transparent;
    border: 1px #ffff solid;
    color: #fff;
}

.contact-form-1 .input-field::placeholder {
    color: #fff;
}

.contact-form-1 .input-field.input-field:focus,
.contact-form-1 .input-field:active,
.contact-form-1 .input-field.input-field:focus-visible {
    border: 1px #ffff solid;
    outline: none;
}


.blog-section-1 {
    padding-top: 96px;
    padding-bottom: 96px;
}

.blog-card-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog-card-1 .blog-heading {
    font-size: 18px;
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    transition: 0.3s ease;
}

.blog-card-1 .blog-heading:hover {
    color: #FB0605;
}

.blog-card-1 .blog-intro-para {
    color: #333333;
    font-weight: normal;
}

.blog-owner-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.blog-owner-details h4 {
    font-weight: 400;
    color: #333333;
}

.image-section {
    border-bottom: 1px #BCBCBC solid;
}

.image-section img {
    width: 100%;
    margin: 0 auto;
}

.blog-data {
    display: flex;
    align-items: center;
    gap: 24px;
    color: #777777;
    font-size: 14px;
}

.blog-data h4 {
    color: #777777;
}


.hero-section .navigation-bar {
    display: flex;
    gap: 14px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-section .navigation-bar h4 {
    font-weight: 400;
}

.hero-section .navigation-bar a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.hero-section .navigation-bar a:hover {
    color: #FB0605;
}

.about-us-image-section-1 {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.about-us-image-section-1-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FB0605;
    opacity: 0.2;
}

.about-us-image-section-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}


.career-form-section .career-form {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: flex-start;
}

.career-form-section .career-form .input-field {
    padding: 10px;
    color: #777777;
    border: 1px #777777 solid;
    font-size: 14px;
    width: 100%;
    resize: none;
}

.career-form-section .career-form .input-field:focus,
.career-form-section .career-form .input-field:active {
    border: 1px #777777 solid;
    outline: none;

}

.contact-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 24px;
}

.contact-details .address {
    display: flex;
    gap: 14px;
    align-items: center;
}

.contact-details .address .contact-logo {
    font-size: 30px;
    color: #FB0605;
}

.contact-details .address .state h4 {
    font-weight: normal;
    font-size: 18px;
}

.contact-details .address .state p {
    font-weight: normal;
    font-size: 14px;
    color: #777777;
}

.quick-link-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog-categories-section ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blog-categories-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: 0.3s ease;
}

.blog-categories-section ul li a:hover {
    color: #FB0605;
}



/*product card section*/
.product-single-card {
    width: 300px;
    border: 1px #efefef solid;
    padding: 20px;
    background: #ffff;
    margin: 0 auto;
}

.product-single-card .img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.product-single-card .img-section img {
    margin: 0 auto;
    width: 100px;
    height: auto;
}

.product-details-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-details-section .product-name {
    line-height: 1.5;
    max-height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-details-section .price-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-details-section .price-section .product-saleprice {
    font-size: 30px;
    color: #cc2625;
}

.product-details-section .price-section .product-ourprice {
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
}

.product-details-section .product-in-stock,
.product-in-stock {
    color: green !important;
    font-weight: bold !important;
}

.product-details-section .product-outofstock,
.product-outofstock {
    color: red !important;
    font-weight: bold !important;
}

.cart-section .cart-icon {
    text-decoration: none;
}

.cart-section .cart-icon {
    position: relative;
    text-decoration: none;
    font-size: 25px;
    color: #333333;
    transition: 0.3s ease;
}

.cart-section .cart-icon:hover {
    color: #FB0605;
}

.cart-section .cart-icon span {
    background: #333;
    color: #ffff;
    border-radius: 103px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.single-product-details-image-section img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.single-product-card-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.single-product-price-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.single-product-price-section .ourPrice {
    font-size: 30px;
    color: #cc2625;
}

.single-product-price-section .listPrice {
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
}

span.discount {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: #333333;
}


/*==========Cart Section=========*/
.single-cart-item {
    position: relative;
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
}

.product-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

a.product-title {
    color: #333333;
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

a.product-title:hover {
    color: #FB0605;
}

h4.product-category {
    font-weight: 300;
    color: #FB0605;
    font-size: 14px;
}

.product-description {
    display: flex;
    flex-direction: column;
    /* flex-flow: wrap; */
    gap: 5px;
}

select.cart-quantity {
    align-self: flex-start;
}

h4.product-price {
    font-size: 22px;
}

h4.product-price span {
    font-size: 14px;
    font-weight: 300;
}

.product-pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
}

.product-pricing .total-price {
    font-size: 30px;
}

.product-pricing .heading {
    font-size: 11px;
    font-weight: 400;
}

.quantity-section {
    display: flex;
    gap: 10px;

}

a.cart-delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

.cart-totalAmountBeforeTax span {
    font-size: 30px;
}

.order-review-section {
    width: 100%;
}

.order-total-before-tax,
.tax-amount,
.order-total-after-tax {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
    justify-content: space-between;
}

/*========Heading Section============*/
.heading-section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 54px;
}

.heading-section-1 .main-heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.heading-section-1 .sub-heading {
    font-size: 14px;
    color: #777777;
    text-align: center;
}

.heading-section-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading-section-2 h4 {
    font-weight: 300;
    color: #FB0605;
    font-size: 14px;
}

.heading-section-2 h1 {
    font-size: 36px;
    line-height: 1.2;
}

/*========Heading Section end============*/


@media screen and (max-width: 1024px) {
    .hero-section .hero-information {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .hero-stats-section {
        display: none;
    }

    .feature-section-5 {
        flex-direction: column;
    }

    .feature-section-5 .feature-card-5 {
        width: 100%;
    }



}


@media screen and (max-width: 566px) {}